* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    margin: 300px;
    padding: 0;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-family: 'arial';
}

.navBar {
    width: 100%;
    padding: 1rem;
    position: sticky;
    top: 0;
    box-shadow: 10px 0 10px #6bcb93;
    z-index: 99;
    margin-bottom: 80px;
    background-color: #6bcb93;
    color: white;
    text-align: center;
}

.navBar>div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    
    font-size: 2rem;
    color: #ffc600;
    margin-left: 6.25cm;
}

.logo span {
    color: white;
}

nav ul {
    margin-right: 5cm;
    display: flex;
    list-style: none;
    align-items: center;
}

nav ul li {
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-shadow: 2px 1px 1px rgba(0, 0, 0, 0.4);
    margin-left: 4.5rem;
    margin-right: 3rem;
    cursor: pointer;
}

nav ul li:hover {
    transform: translate(-5px);
    transition: all 0.2s;
}

header {
    margin-left: 200px;
    margin-right: 200px;
    margin-bottom: 2cm;
    background-color: #ffdb58;
    border-radius: 10px;
}

.header-bottom-side {
    display: flex;
    align-items: center;
    padding: 1rem;
}

.header-bottom-side-left {
    flex: 1;
    padding: 20px;
    text-align: center;
    height: 100%;
    flex-basis: 50%;
}

.header-bottom-side-left h2 {
    font-size: 3.2rem;
    margin-bottom: 1.5rem;
}

.header-bottom-side-left p {
    line-height: 1.5rem;
    margin-bottom: 1.5rem;
    position: relative;
}

.header-bottom-side-left buttonInicio {
    background-color: #ffffff;
    border: none;
    cursor: pointer;
    padding: 0.8rem 2.8rem;
    border-radius: 9999px;
    font-weight: 500;
    font-size: 1rem;
    transition: all 0.2s;
}

.header-bottom-side-left buttonInicio:hover {
    background-color: #f7f0d8;
}

.header-bottom-side-right {
    flex-basis: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-bottom-side-right img {
    max-width: 100%;
    height: auto;
}

main {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.main img {
    text-align: center;
    margin-right: 1.4cm;
}

.main h2 {
    font-size: 3.2rem;
    margin-bottom: 1.5rem;
    text-align: left;
}

.main-content {
    text-align: left;
    margin-bottom: 50px;
}

.testemunhas {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.comentario {
    display: flex;
    flex-direction: column;
    background-color: #79a7ec;
    padding: 10px;
    border: 1px solid #79a7ec;
    border-radius: 5px;
    text-align: center;
    max-width: calc(33.33% - 20px);
    margin-bottom: 2cm;
}

.avaliacao {
    text-align: center;
    margin-top: 10px;
}

.comentario p {
    margin: 5px 0;
}

.comentario p :first-child {
    font-weight: bold;
    font-size: 5rem;
    color: blue;
    margin-top: 3rem;
    line-height: 2rem;
}

.rate {
    color: #ffc600;
    text-align: center;
}

.page-inner-content {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    padding: 0 20px;
}

.login-container {
    flex: 1;
    min-height: 65vh;
    text-align: center;
    margin: 2rem auto;
    max-width: 300px;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.login-container h2 {
    color: #6bcb93;
    font-size: 1.5rem;
    margin-bottom: 20px;
}

form label {
    display: block;
    text-align: left;
    margin-top: 10px;
}

form input {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #ffc600;
    color: #0a0a0a;
    border: none;
    border-radius: 5px;
    padding: 15px 25px 15px;
    cursor: pointer;
    font-size: 15px;
}

button:hover {
    background-color: #d3af2e;
}

.login-container {
    margin-bottom: 60px;
}

.login-container {
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 100px rgba(0, 0, 0, 0.1);
    width: 300px;
    height: 300px;
    margin: 0 auto;
    text-align: center;
}

.login-container form {
    width: 100%;
}

.login-container form input[type="text"],
.login-container form input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 29px 0;
    border: none;
    border-radius: 18px;
    font-size: 18px;
}

.login-container p {
    color: rgb(14, 14, 14);
    font-size: 0.3cm;
    margin-right: 1.4cm;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.cadastro-container {
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    margin: 0 auto;
    text-align: center;
}

.cadastro-container h2 {
    font-size: 1.5rem;
    margin-top: 20px;
}

.cadastro-container form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: column;
}

.cadastro-container label {
    font-weight: bold;
    margin-top: 10px;
}

.cadastro-container input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    font-size: 16px;
}

.cadastro-container button {
    background-color: #ffc600;
    color: #0a0a0a;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 20px;
    margin: 20px 0;
}

.cadastro-container button:hover {
    background-color: #d3af2e;
}

footer .logo-footer {
    text-align: center;
  }
  
  .logo-footer h1 {
    margin: 0;
  }
  
  .logo-footer p {
    margin:0.1%;
  }

footer {
    flex: 1;
    flex-shrink: 0;
    width: 100%;
    background-color: #6bcb93;
    padding: 5px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-text-stroke: 0.07px black;
    margin: 0;
    margin-top: 10px;
}

.cadastro-container .endereco-section {
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px solid #ccc;
}

.navBar a {
    color: black !important;
}

.navBar a.clicked {
    color: black;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 10px;
    background-color: #6bcb93;
    color: white;
}

.catalog {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
        max-width: 1200px;
        gap: 50px;
    margin: auto;
  }
  
  .product {
    text-align: center;
    width: calc(25% - 20px); 
    margin-bottom: 20px;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

  .product:nth-child(4n) {
    margin-right: 0; 
  }
  
  .catalog .top-row .product {
    width: calc(33.33% - 20px);
  }
  
  .catalog .top-row .product:nth-child(3n) {
    margin-right: 0; /* Remove a margem à direita do último produto em cada linha */
  }
  
  /* Botão Adicionar ao Carrinho */
  .product button {
    background-color: #6bcb93;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
    
  }
  
  .product button:hover {
    background-color: #4c8f66;
  }
  
  .product img {
    width: 200px;
    height: auto; /* Para manter a proporção original */
    display: block;
    margin: 0 auto; /* Centralizar a imagem no contêiner */
  }

.product img,
.product h3,
.product p,
.product button {
  margin-bottom: 2mm; /* Espaçamento de 2mm entre os elementos dentro da .product */
}

.tamanho-box {
    display: flex;
    justify-content: center;
    margin-bottom: 2mm; 
    gap: 10px; /* Espaçamento entre os tamanhos */
  }
  
  .tamanho-box span {
    cursor: pointer;
    border: 1px solid #ddd;
    padding: 5px;
    border-radius: 3px;
  }
  
  .nota-fiscal {
    margin: 20px auto;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: left; /* Centraliza o texto */
}

h3, h4 {
    color: #333;
    text-align: left; /* Centraliza o texto */
}

p {
    margin: 10px 0;
    line-height: 1.5; 
}

.small-text {
    font-size: 14px;
    color: #777; 
}

.nota-fiscal h3 {
    font-size: 24px;
    margin-bottom: 15px;
}
.nota-fiscal h4 {
    font-size: 18px;
    margin-top: 15px;
    color: #555;
}
#totalValor {
    font-size: 20px;
    font-weight: bold;
    color: #e44d26; /* Cor mais intensa para destacar o total */
}
